//Built by Launchr
//go:generate go run ./gen.go {{.Cwd}}
package main

import (
	"os"

	"{{.CorePkg.Path}}"
	_ "{{.PkgName}}/gen"
	{{range .Plugins}}
	_ "{{.Path}}"
	{{- end}}
)

func main() {
	os.Exit(launchr.Run())
}