//Built by Launchr
//go:generate go run ./gen.go {{.Cwd}}
package main

import (
	"os"
	"embed"

	"{{.CorePkg.Path}}"
	_ "{{.PkgName}}/gen"
	{{range .Plugins}}
	_ "{{.Path}}"
	{{- end}}
)

//go:embed assets/*
var assets embed.FS

func main() {
	os.Exit(launchr.Run(&launchr.AppOptions{AssetsFs: assets}))
}