//Built by Launchr
//go:generate go run ./gen.go {{.Cwd}}
package main

import (
	"os"

	"{{.CorePkg.Package}}"
	_ "{{.PkgName}}/gen"
	{{range .Plugins}}
	_ "{{.Package}}"
	{{- end}}
)

{{/* inline version in a multiline string */}}
const version = `{{template "version.tmpl" .}}`

func main() {
	launchr.SetCustomVersion(version)
	os.Exit(launchr.Run())
}